

.log{
    height: 300px ;

}

.borda{
    border-left: 6px solid red;
    background-color: lightgrey;
    position:absolute;
    color:blue;

}


.testando{
    background-color: blue;
    height: 200px;
    width: 200px;
}


.titulo{
    border-bottom: 3px solid #455a64 ;
}

.bordinha{
    border-left: 3px solid #455a64;
}

.input_margin{
    width: 80%;
    
}







