.testando{
    background-color: blue;
    height: 200px;
    width: 200px;
}

.borda{
    
    
    border-bottom: 1px solid #b2ebf2;
    border-top: 1px solid #b2ebf2;

    color:#263238;

}

.borda2{
    
}

.centro{
    height: 500px;
    width: 500px;
    background-color: grey;

}

.log{
    height: 600px ;
    /*width:  300px ;
    position: absolute;
    color: white;
   
    -webkit-box-shadow: 13px 13px 10px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    13px 13px 10px 0px rgba(50, 50, 50, 0.6);
    box-shadow:         13px 13px 10px 0px rgba(50, 50, 50, 0.6);
   
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)   */
    }

.perfil_edit{
    height: 600px;
}
.perfil_edit2{
    margin-left: 8%;
    margin-right: 8%;
}

.linha{
    width: 140px;
    height: 3px;
    right: 50%;
    left: 27%;
    position: absolute;
    background-color: white;
}

.titulo{
    border-bottom: 3px solid #b2ebf2 ;

    
}

.foto_area{
   
    


}

.form-inline, .center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }


 .cadbar{
    height: 800px ;

    
    /*width:  500px ;
   
    position: absolute;

    top: 74%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    -webkit-box-shadow: 13px 13px 10px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    13px 13px 10px 0px rgba(50, 50, 50, 0.6);
    box-shadow:         13px 13px 10px 0px rgba(50, 50, 50, 0.6); */
 }
 .cadbar2{
     margin-left: 5%;
     margin-right: 5%;
 }
 .cadbar3{
     margin-left: 20%;
     margin-right: 20%;
 }

 .viewprod{
    
    height: 600px ;
    
    
    

   /* top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    -webkit-box-shadow: 13px 13px 10px 0px rgba(46, 32, 32, 0.6);
    -moz-box-shadow:    13px 13px 10px 0px rgba(50, 50, 50, 0.6);
    box-shadow:         13px 13px 10px 0px rgba(50, 50, 50, 0.6);*/
 }

 .fotoedit_size{
    height: 300px;
 }
 .fotoedit_margin{
     margin-left: 5%;
     margin-right: 5%;
 }


 .editbar{
     height: 780px;
 }

 .editbar2{
     margin-left: 5%;
     margin-right: 5%;
 }



 ::-webkit-input-placeholder {
    color: #546e7a;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #546e7a;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #546e7a;  
 }
 
 :-ms-input-placeholder {  
    color: #546e7a;  
 }




 .input-field input[type]:not([readonly]),
 .input-field input[type]:focus:not([readonly]),
 .input-field textarea:not([readonly]),
 .input-field textarea:focus:not([readonly]) {
   border-bottom: 1px solid white;
   
 }


 label focus color */
 .input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #263238 !important;
 }

/* label underline focus color */
 .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #263238 !important;
  box-shadow: 0 1px 0 0 #263238 !important;
 }



 .input-field input[type=email]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #263238 !important;
 }

/* label underline focus color */
 .input-field input[type=email]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #263238 !important;
  box-shadow: 0 1px 0 0 #263238 !important;
 }




 
 .input-field input[type=password]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #263238 !important;
 }

/* label underline focus color */
 .input-field input[type=password]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #263238 !important;
  box-shadow: 0 1px 0 0 #263238 !important;
 }


 .input-field input[type=number]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #263238 !important;
   }
  
  /* label underline focus color */
   .input-field input[type=number]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #263238 !important;
    box-shadow: 0 1px 0 0 #263238 !important;
   }




