.testando{
    background-color: blue;
    height: 200px;
    width: 200px;
}

.borda{
    
    
    border: 3px solid #455a64;
    color:white;

}

.borda2{
    
}

.centro{
    height: 500px;
    width: 500px;
    background-color: grey;

}

.log{
    width:  300px ;
    height: 500px ;
    position: absolute;
    
    color: white;
   
    -webkit-box-shadow: 13px 13px 10px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    13px 13px 10px 0px rgba(50, 50, 50, 0.6);
    box-shadow:         13px 13px 10px 0px rgba(50, 50, 50, 0.6);
   
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)   
    }

.linha{
    width: 140px;
    height: 3px;
    right: 50%;
    left: 27%;
    position: absolute;
    background-color: white;
}

.titulo{
    border-bottom: 3px solid #455a64 ;
    
}

.foto_area{
    height: 240px;
    width: 200px;
    top: 20%;
    left: 22%;
    margin-right: 50%;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);

    -webkit-box-shadow: 13px 13px 10px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    13px 13px 10px 0px rgba(50, 50, 50, 0.6);
    box-shadow:         13px 13px 10px 0px rgba(50, 50, 50, 0.6);
}

.form-inline, .center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }